.d-none {
    display: none;
}

body {
    box-sizing: border-box;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 25px;
}

main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.flex-container-space {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hl-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #1e5515;
}

.generate-form {
    max-width: 577px;
    width: 100%;
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto;
    height: 176px;
    gap: 32px;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #3960394D;
    padding: 20px;
}

.generate-form input {
    background: #FAF0E6CC;
    height: 36px;
    gap: 16px;
    border-radius: 20px;
    padding-left: 8px;

}

.generate-form input:focus {
    outline: none;
}

.generate-form select {
    background: #FAF0E6CC;
    height: 36px;
    gap: 16px;
    border-radius: 20px;
}

.generate-form select:focus {
    outline: none;
}

.generate-form-div {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.flex-container {
    display: flex;
    gap: 8px;
}

.flex-container button {
    border: none;
    outline: none;
    background: transparent;
}

.add-icon {
    outline: none;
    border: none; 
}

.add-icon:hover {
    content: url('/assets/img/add-buttons/button-hover.png');
}

.add-icon:focus {
    content: url('/assets/img/add-buttons/button-on-click.png');
}

.ingedients-container {
    max-width: 577px;
    width: 100%;
    margin-top: 70px;
    height: 176px;
    gap: 32px;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #3960394D;
    padding-left: 30px;
}

.edit-icon:hover {
    content: url('/assets/img/edit-icon-hover.png');
}


.edit-icon:active {
    content: url('/assets/img/edit-icon-on-click.png');
}

.delete-icon:hover {
    content: url('/assets/img/delete-icon-hover.png');
}

.delete-icon:active {
    content: url('/assets/img/delete-icon-on-click.png');
}

.btn-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.next-step-btn {
    background: #396039;
    color: white;
    padding: 10px;
}

