.d-none {
    display: none;
}

body {
    box-sizing: border-box;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 25px;
}

main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
}

label {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #10310B;
    margin-bottom: 8px;
    margin-left: 8px;
}

button {
    cursor: pointer;
}

.flex-container-space {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hl-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #1e5515;
}

.hl-desc h1 {
    font-family: Quicksand;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0%;
    text-align: center;
    color: #1E5515;
}

.hl-desc p {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #10310B;
}

.generate-form {
    max-width: 577px;
    width: 100%;
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto;
    height: 176px;
    gap: 32px;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #3960394D;
    padding: 20px;
}

.generate-form input {
    background: #FAF0E6CC;
    height: 36px;
    gap: 16px;
    border-radius: 20px;
    padding-left: 8px;
    border: none;
    outline: none;
}

.generate-form input:focus {
    outline: none;
}

.generate-form select {
    background: #FAF0E6CC;
    height: 36px;
    gap: 16px;
    border-radius: 20px;
    padding: 8px;
    border: none;
    outline: none;
}

.generate-form select:focus {
    outline: none;
}

.generate-form-div {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}

.flex-container {
    display: flex;
    gap: 8px;
}

.add-ingredient-btn {
    border: none;
    outline: none;
    background: transparent;
}

.add-icon {
    outline: none;
    border: none; 
}

.add-icon:hover {
    content: url('/assets/img/add-buttons/button-hover.png');
}

.add-icon:focus {
    content: url('/assets/img/add-buttons/button-on-click.png');
}

.ingedients-container {
    max-width: 577px;
    width: 100%;
    margin-top: 70px;
    height: 176px;
    gap: 32px;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #3960394D;
    padding-left: 30px;
}

.ingedients-container p {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #10310B;
}

.edit-icon:hover {
    content: url('/assets/img/edit-icon-hover.png');
}


.edit-icon:active {
    content: url('/assets/img/edit-icon-on-click.png');
}

.delete-icon:hover {
    content: url('/assets/img/delete-icon-hover.png');
}

.delete-icon:active {
    content: url('/assets/img/delete-icon-on-click.png');
}

.btn-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.next-step-btn {
    background: #396039;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.link-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link-container a {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

h2 {
    font-family: Quicksand;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #10310B;
}

.counter-btn {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 4px;
    padding: 4px;
    gap: 10px;
    background: none;
}

.counter-btn p {
    font-size: 24px;
    font-style: bold;
}

.bg-counter {
    background: #39603933;
    width: 22px;
    height: 20px;
    gap: 10px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 5px;
}

.counter-btn:hover {
    background: #E7ECE7;
}

.counter-btn:active {
    background: #C4D0C4;
}


.bg-color-form {
    background: #39603933;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 721px;
    height: 412px;
    gap: 40px;
    border-radius: 20px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
}

.fld-c-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fld-c-container span {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0%;
    color: #1E5515;

}

.gap-10 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h3 {
    display: flex;
    align-items: center;
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #10310B;
    margin: 8px 0;
}

.settings-p {
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #10310B;
}

.settings-btn {
    width: auto;
    height: 28px;
    border-radius: 30px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    background: #FAF0E6;
    border: none;
}

.settings-form {
    width: 100%;
}

.settings-btn:hover {
    background: #FAE0C6;
}

.settings-btn:active {
    background: #39603933;
}

.settings-btn.selected {
  background: #39603933;
}

.form-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-footer button {
    margin-top: 40px;
    width: auto;
    height: 62px;
    padding-top: 16px;
    padding-right: 26px;
    padding-bottom: 16px;
    padding-left: 26px;
    background: #396039;
    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #FAF0E6;
}