<body>
    <header class="max-content">
        <img class="logo" [routerLink]="['']" src="/assets/img/logo-green.png" alt="green logo">
    </header>

    <div class="content max-content">
        <div class="hl-desc">
            <h1>Generate recipe</h1>
            <p>Got random stuff in your kitchen? Pop it in-we've got the perfect recipe waiting.</p>
        </div>

        <main id="ingredientsForm">
            <div class="flex-container-space">
                <form class="max-content generate-form"[formGroup]="ingredientForm"(ngSubmit)="addIngredient()">
                    <div class="generate-form-div">
                        <label for="ingredient">
                        Ingredient
                        </label>

                        <input id="ingredient" type="text" formControlName="name">
                    </div>

                    <div class="generate-form-div">
                        <label for="size">
                        Serving size
                        </label>

                        <div class="flex-container">
                        <input id="size" type="number" formControlName="amount">

                        <select formControlName="unit">
                            <option value="g">gram</option>
                            <option value="ml">ml</option>
                            <option value="piece">piece</option>
                        </select>

                        <button type="submit">
                            <img class="add-icon" src="/assets/img/add-buttons/button-default.png" alt="plus icon">
                        </button>
                        </div>
                    </div>
                </form>

                <div class="ingedients-container">
                    <p>List of your ingredients.</p>

                    <ul>
                        @for (ingredient of ingredients; track $index) {
                        <li>
                            {{ ingredient.name }}
                            -
                            {{ ingredient.amount }}
                            {{ ingredient.unit }}

                            <img class="edit-icon" src="/assets/img/edit-icon-default.png" alt="edit icon">

                            <img (click)="deleteIngredient($index)" class="delete-icon" src="/assets/img/delete-icon-default.png" alt="delete icon">
                        </li>
                        }
                    </ul>
                </div>
            </div>
            @if (ingredients.length > 0) {
                <div class="btn-container">
                    <button (click)="toggleDesign()" class="next-step-btn">Next step</button>
                </div>
            }
        </main>

        <main id="settingsForm" class="d-none">
            <form ngSubmit="">
                <h2>Choose your preferences</h2>
                <div class="grid-container">
                    <div>
                        <p>
                            How many portions you need?
                        </p>
                        <div>
                            <button type="button" (click)="addToPortionCounter()"><img src="" alt="">+</button>
                            <p> 
                                {{ portionCounter() }} 
                            </p>
                            <button type="button" (click)="reducePortionCounter()"><img src="" alt="">-</button>
                        </div>
                    </div>
                    <div>
                        <p>
                            How many are cooking?
                        </p>
                        <div>
                            <button type="button" (click)="addToPersonCounter()"><img src="" alt="">+</button>
                            <p>
                                {{ personCounter() }}
                            </p>
                            <button type="button" (click)="reducePersonCounter()"><img src="" alt="">-</button>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="cooking-time-container">

                    </div>

                    <div class="cuisine-container">

                    </div>

                    <div class="preferences-container">

                    </div>
                </div>
            </form>
        </main>
    </div>
</body>