<body>
    <header>
        <div>
            <img class="logo" src="/assets/img/logo-green.png" alt="logo green">
            <a href=""> <img src="/assets/img/Arrow-green.png" alt="arrow green"> Recipe results</a>
        </div>
    </header>

    <main>
        <div class="hl-desc">
            <div>
                <span id="recipe-time"></span>
                <h1 id="recipeTitle"></h1>
                <div>
                    <p></p>
                    <p><img src="" alt="chef icon"></p>
                    <p><img src="" alt="chef icon"></p>
                </div>
            </div>
        </div>

            <section>
                <div>
                    <img src="" alt="">
                    <h2>Ingredients</h2>
                    <img src="" alt="">
                </div>
                <div>
                    <div>
                        <p></p>
                        <ul>
                            @for (ingredient of ingredients; track $index) {
                                <li></li>
                            }
                            
                        </ul>
                    </div>
                    <div>
                        <p></p>
                        <ul>
                            @for (extraIngredient of extraIngredients; track $index) {
                                <li></li>
                            }
                            
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <div>
                    <img src="" alt="">
                    <h2>Directions</h2>
                    <img src="" alt="">
                </div>
                <div>
                    <p></p>
                    <ul>
                        @for (direction of directions; track $index) {
                            <li></li>
                        }                    
                    </ul>
                </div>
            </section>
        
            <div>
                <p>Just finished this meal?</p>
                <span>Give it a heart, so that the others know this is delicious.</span>
                <img src="" alt="green heart">
            </div>
    </main>

    <footer>
        <p>Find inspiration for your next culinary adventure!</p>
        <button>Cookbook</button>
    </footer>

    <div>
        <a href="">Generate new recipe <img src="" alt="green arrow"></a>
    </div>
</body>