<body>
    <header>
        <div>
            <img class="logo" src="/assets/img/logo-green.png" alt="logo green">
            <a href=""> <img src="/assets/img/Arrow-green.png" alt="arrow green"> Recipe results</a>
        </div>
    </header>

    <main>
        <div class="hl-desc">
            <div>
                <span></span>
                <h1></h1>
                <div></div>
            </div>

            <section>
                <div>
                    <img src="" alt="">
                    <h2>Ingredients</h2>
                    <img src="" alt="">
                </div>
                <div>
                    <div></div>
                    <div></div>
                </div>
            </section>

            <section>
                <div>
                    <img src="" alt="">
                    <h2>Directions</h2>
                    <img src="" alt="">
                </div>
                <div>
                    <div></div>
                    <div></div>
                </div>
            </section>
        </div>
    </main>
</body>