<body>
    <header class="max-content">
            <img class="logo" src="/assets/img/logo-green.png" alt="logo green">
            <a routerLink="/recipe-result"> <img src="/assets/img/Arrow-green.png" alt="arrow green"> Recipe results</a>
    </header>

    @if (currentRecipe(); as recipe) {
    <main class="max-content">
        <div class="hl-desc grid-container-2">
            <div>
                <p class="time-container"><img src="/assets/img/time-icon.png" alt="time-icon"> Cooking time <span id="recipe-time"> {{ recipe.cookingTime }} </span> min</p>
                <h1 id="recipeTitle">{{ recipe.name }}</h1>
                <div class="flex-container">
                    <p>Cooking person <span id="personCounter"> {{ recipe.cookingPerson }} </span></p>
                    <p><img src="" alt="chef icon"></p>
                    <p><img src="" alt="chef icon"></p>
                </div>
            </div>
            <div>
                <div class="flex-container">
                    <p class="tag"> {{ recipe.preferences }} </p>
                    <p class="tag"> {{ recipe.complexity }} </p>
                    <p class="tag" id="like-counter"><img src="/assets/img/heart-default.png" alt="green heart"></p>
                </div>
                <span>Nutritianl information</span>

                <div class="grid-container-4">
                    <p>calories </p>
                    <p>protein</p>
                    <p>fat</p>
                    <p>carbs</p>

                    <p id="e-display"> {{ recipe.nutritions.calories }} </p>
                    <p id="p-display"> {{  recipe.nutritions.protein  }} </p>
                    <p id="f-display"> {{ recipe.nutritions.fat }} </p>
                    <p id="c-display"> {{ recipe.nutritions.carbohydrates }} </p>
                </div>
            </div>
        </div>

            <section>
                <div class="section-header">
                    <img src="/assets/img/directions-hero.png" alt="ingredients hero image">
                    <h2>Ingredients</h2>
                </div>
                <div class="grid-container-2">
                    <div class="centered-list">
                        <p class="ingredients-hl">Your Ingredients</p>
                        <ul>
                            @for (ingredient of recipe.ingredients; track $index) {
                                <li class="ingredients-li"> 
                                    {{ ingredient.name }} 
                                    {{ ingredient.amount }} 
                                    {{ ingredient.unit }} 
                                </li>
                            }
                            
                        </ul>
                    </div>
                    <div class="centered-list">
                        <p class="ingredients-hl">Extra Ingredients</p>
                        <ul>
                            @for (extraIngredient of recipe.extraIngredients; track $index) {
                                <li class="ingredients-li"> 
                                    {{ extraIngredient.name }} 
                                    {{ extraIngredient.amount }} 
                                    {{ extraIngredient.unit }}
                                </li>
                            }
                            
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <div class="section-header">
                    <img src="/assets/img/ingredients-hero.png" alt="directions hero image">
                    <h2>Directions</h2>
                </div>
                <div>
                    <ul class="grid-container-2">
                        @for (direction of recipe.directions; track $index) {
                            <div class="centered-list">
                                <li class="direction-li">
                                    <div class="flex-container">
                                        <h3 class="step-hl"> {{ direction.headline }} </h3>
                                        <img src="" alt="chef icon">
                                    </div>
                                    <p class="step-desc">{{ direction.description }}</p>
                                </li>
                            </div>
                        }                    
                    </ul>
                </div>
            </section>
        
            <div class="flex-container center-container">
                <p>Just finished this meal?</p>
                <span>Give it a heart, so that the others know this is delicious.</span>
                <img src="/assets/img/heart-default.png" alt="green heart">
            </div>
    </main>
}
    

    <footer class="max-content">
        <p>Find inspiration for your next culinary adventure!</p>
        <button [routerLink]="['/cookbook']" role="link">Cookbook</button>
    </footer>

    <div class="max-content under-footer">
        <a [routerLink]="['/generate-recipe']" role="link">Generate new recipe <img class="rotate" src="/assets/img/Arrow-green.png" alt="green arrow"></a>
    </div>
</body>