<body>
    <header class="max-content">
        <img class="logo" [routerLink]="['']" role="link" src="/assets/img/logo-green.png" alt="logo green">
        <a [routerLink]="['../../cookbook']" role="link"><img src="/assets/img/Arrow-green.png" alt="green arrow"> Cookbook</a>
    </header>
    <div class="btn-container max-content">
        <button [routerLink]="['../../generate-recipe']" role="link">Generate a recipe</button>
    </div>

    <main class="max-content">
        <div class="cuisine-hl-visuals">
            <img src="/assets/img/cuisine-list-hero.png" alt="hero image">
            <h1>{{ cuisine }} cuisine</h1>
        </div>
        <div class="list-container">
            <ul>
                @for (cuisineItem of cuisineList; track $index) {
                    <li [routerLink]="['../../recipe/', cuisineItem.id]" role="link">
                        <div class="meal-container flex-container">
                            <div>
                                <p class="cooking-time-txt"><img src="/assets/img/time-icon.png" alt="time icon"> Cooking time: <span id="cookingTimeDisplay">  {{ cuisineItem.cookingTime }} min</span></p>
                                <h2> {{ cuisineItem.name }} </h2>
                            </div>
                            <div class="stats-container flex-container">
                                <p class="preference"> {{ cuisineItem.preference }} </p>
                                <p class="complexity"> {{ cuisineItem.complexity }} </p>
                                <p class="like-counter"><img src="/assets/img/heart-default.png" alt="green heart"> {{ cuisineItem.likes }} </p>
                            </div>
                        </div>
                    </li>
                }

                
            </ul>
        </div>
    </main>

</body>