<header>
    <div>
        <img class="logo" src="/assets/img/logo-green.png" alt="logo green">
        <a href=""> <img src="/assets/img/Arrow-green.png" alt="arrow green"> Back</a>
    </div>
</header>

<main>
    <div class="cookbook-container">
        <div class="description-container">
            <h1>Cookbook</h1>
            <p>From quick bites to gourmet delights, explore them all in our ultimate cookbook and get inspired for your next culinary adventure.</p>
        </div>

        <div class="most-liked-container">
            <p>Most liked recipes <img class="heart" src="/assets/img/heart-default.png" alt="green heart"></p>
            <div class="liked-recipes-container">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="cuisine-container">
        <div>
            <p class="cuisine-hl">Italian cuisine 🤌</p>
            <img src="" alt="cuisine-image">
        </div>
        <div>
            <p class="cuisine-hl">German cuisine 🥨</p>
            <img src="" alt="cuisine-image">
        </div>
        <div>
            <p class="cuisine-hl">Japanese cusine 🥢</p>
            <img src="" alt="cuisine-image">
        </div>
        <div>
            <p class="cuisine-hl">Gourmet cuisine ⭐</p>
            <img src="" alt="cuisine-image">
        </div>
        <div>
            <p class="cuisine-hl">Indian cuisine 🍛</p>
            <img src="" alt="cuisine-image">
        </div>
        <div>
            <p class="cuisine-hl">Fusion cuisine 🍢</p>
            <img src="" alt="cuisine-image">
        </div>
    </div>

</main>

<footer>
    <a href="">Generate new recipe <img class="footer-link-arrow" src="/assets/img/Arrow-green.png" alt="green arrow"></a>
</footer>