<body>
    <header class="max-content">
        <div>
            <img class="logo" src="/assets/img/logo-green.png" alt="logo green">
            <a href=""> <img src="/assets/img/Arrow-green.png" alt="arrow green"> Back</a>
        </div>
    </header>

    <main class="max-content">
        <div class="cookbook-container">
            <div class="description-container">
                <h1>Cookbook</h1>
                <p>From quick bites to gourmet delights, explore them all in our ultimate cookbook and get inspired for your next culinary adventure.</p>
            </div>

            <div class="most-liked-container">
                <p>Most liked recipes <img class="heart" src="/assets/img/heart-default.png" alt="green heart"></p>
                <div class="liked-recipes-container">
                    <div class="liked-recipes-div">
                        <div>
                            <img src="" alt="">
                            <span>Cooking time:</span>
                            <img src="" alt="">
                            <span id="likeCount"></span>
                        </div>
                        <p id="mealName"></p>
                    </div>

                    <div class="liked-recipes-div">
                        <div>
                            <img src="" alt="">
                            <span>Cooking time:</span>
                            <img src="" alt="">
                            <span id="likeCount"></span>
                        </div>
                        <p id="mealName"></p>
                    </div>

                    <div class="liked-recipes-div">
                        <div>
                            <img src="" alt="">
                            <span>Cooking time:</span>
                            <img src="" alt="">
                            <span id="likeCount"></span>
                        </div>
                        <p id="mealName"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cuisine-container">
            <div [routerLink]="['/cuisine-list', 'italian']" role="link">
                <p class="cuisine-hl">Italian cuisine 🤌</p>
                <div>
                    <img class="cuisine-image" src="/assets/img/italian-cuisine.jpg" alt="cuisine-image">
                </div>
            </div>
            <div [routerLink]="['/cuisine-list', 'german']" role="link">
                <p class="cuisine-hl">German cuisine 🥨</p>
                <div>
                    <img class="cuisine-image" src="/assets/img/german-cuisine.jpg" alt="cuisine-image">
                </div>
            </div>
            <div  [routerLink]="['/cuisine-list', 'japanese']" role="link">
                <p class="cuisine-hl">Japanese cusine 🥢</p>
                <div>
                    <img class="cuisine-image" src="/assets/img/japanese-cuisine.jpg" alt="cuisine-image">
                </div>
            </div>
            <div  [routerLink]="['/cuisine-list', 'gourmet']" role="link">
                <p class="cuisine-hl">Gourmet cuisine ⭐</p>
                <div>
                    <img class="cuisine-image" src="/assets/img/gourmet-cuisine.jpg" alt="cuisine-image">
                </div>
            </div>
            <div [routerLink]="['/cuisine-list', 'indian']" role="link">
                <p class="cuisine-hl">Indian cuisine 🍛</p>
                <div>
                    <img class="cuisine-image" src="/assets/img/indian-cuisine.jpg" alt="cuisine-image">
                </div>
            </div>
            <div [routerLink]="['/cuisine-list', 'fusion']" role="link">
                <p class="cuisine-hl">Fusion cuisine 🍢</p>
                <div>
                    <img class="cuisine-image" src="/assets/img/fusion-cuisine.jpg" alt="cuisine-image">
                </div>
            </div>
        </div>

    </main>

    <footer class="max-content">
        <a [routerLink]="['/generate-recipe']" role="link">Generate new recipe <img class="footer-link-arrow" src="/assets/img/Arrow-green.png" alt="green arrow"></a>
    </footer>
</body>