<body>
    <header>
        <img src="/assets/img/logo-cream-color.png" alt="cream colored logo">
    </header>

    <div class="content">
        <div class="left-hand-side">
            <div>
                <p>AI-Powered recipe generator</p>
                <h1>Code à Cuisine</h1>
                <button>Get started</button>
            </div>

            <div class="cookbook-container">
                <p>Hungry for inspiration?</p>
                <a href="">Go to cookbook <img class="white-arrow" src="/assets/img/Arrow 18.png" alt="white arrow"></a>
                
            </div>
        </div>

        <img class="design-img" src="/assets/img/Meal-Visuals.png" alt="Meal visuals">
    </div>
</body>
