<body>
    <header class="max-content">
        <img src="/assets/img/logo-cream-color.png" alt="cream colored logo">
    </header>

    <div class="content max-content">
        <div class="left-hand-side">
            <div>
                <p>AI-Powered recipe generator</p>
                <h1>Code à Cuisine</h1>
                <button [routerLink]="['/generate-recipe']" role="link">Get started</button>
            </div>

            <div class="cookbook-container">
                <p>Hungry for inspiration?</p>
                <a class="cookbook-container-link" [routerLink]="['/cookbook']" role="link">Go to cookbook <img class="white-arrow" src="/assets/img/Arrow 18.png" alt="white arrow"></a>
                
            </div>
        </div>

        <div class="image-container">
            <img class="design-img" src="/assets/img/Ellipse 29.png" alt="Meal visuals">
            <img class="design-img-2" src="/assets/img/Ellipse 30.png" alt="Meal visuals">
            <img class="design-img-3" src="/assets/img/Ellipse 31.png" alt="Meal visuals">
         </div>
    </div>
</body>
